.btn {
  cursor: pointer;
}

.sort-input {
  width: 3rem;
}

.subtitle {
  text-transform: capitalize;
}

.numbers-display {
  min-height: 1rem;
  padding: 0.4rem;
  word-break: break-word;
  border: 1px solid black;
  border-radius: 8px;
}
